<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#">Empresas</a>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ path('app_list', {'entity': 'empresas'}) }}">Lista</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_create_empresa') }}">Crear</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Usuarios</a>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ path('app_list', {'entity': 'usuarios'}) }}">Lista</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_create_usuario') }}">Crear</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Estados</a>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ path('app_list', {'entity': 'estados'}) }}">Lista</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_create_estado') }}">Crear</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Tareas</a>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ path('app_list', {'entity': 'tareas'}) }}">Lista</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_create_tarea') }}">Crear</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Productos</a>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ path('app_list', {'entity': 'productos'}) }}">Lista</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_create_producto') }}">Crear</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Detalles</a>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ path('app_list', {'entity': 'detalles'}) }}">Lista</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_create_detalle') }}">Crear</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Presupuestos</a>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ path('app_list', {'entity': 'presupuestos'}) }}">Lista</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_create_presupuesto') }}">Crear</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mail</a>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ path('app_mail') }}">Correo</a></li>
        </ul>
    </li>
</ul>