{% extends 'base.html.twig' %}


{% block content %}
	{% include 'partials/alerts.html.twig' %}
		<div class="row">
			<div class="col">
				<section class="card">
						<div class="card-body">
								{{ form_start(form)}}
							<div class="form-group row pb-4">
								<label class="col-lg-3 control-label text-lg-end pt-2">ID:</label>
								<div class="col-lg-6">
									{{form_widget(form.id)}}
								</div>
							</div>
							<div class="form-group row pb-4">
								<label class="col-lg-3 control-label text-lg-end pt-2">Nombre:</label>
								<div class="col-lg-3">
									{{form_widget(form.nombre)}}
								</div>
								<label class="col-lg-1 control-label text-lg-end pt-2">CIF:</label>
								<div class="col-lg-2">
									{{form_widget(form.cif)}}
								</div>
							</div>
							<div class="form-group row pb-4">
								<label class="col-lg-3 control-label text-lg-end pt-2">Direccion:</label>
								<div class="col-lg-6">
									{{form_widget(form.direccion)}}
								</div>
							</div>
							<div class="form-group row pb-4">
								<label class="col-lg-3 control-label text-lg-end pt-2">Codigo_postal:</label>
								<div class="col-lg-2">
									{{form_widget(form.codigo_postal)}}
								</div>
								<label class="col-lg-2 control-label text-lg-end pt-2">Localidad:</label>
								<div class="col-lg-2">
									{{form_widget(form.localidad)}}
								</div>
							</div>
							<div class="form-group row pb-4">
								<label class="col-lg-3 control-label text-lg-end pt-2">Pais:</label>
								<div class="col-lg-2">
									{{form_widget(form.pais)}}
								</div>
								<label class="col-lg-2 control-label text-lg-end pt-2">Provincia:</label>
								<div class="col-lg-2">
									{{form_widget(form.provincia)}}
								</div>
							</div>
							<div class="form-group row pb-4">
								<label class="col-lg-3 control-label text-lg-end pt-2">Notas:</label>
								<div class="col-lg-6">
									{{form_widget(form.notas)}}
								</div>
							</div>
							<div class="form-group row pb-4">
								<label class="col-lg-3 control-label text-lg-end pt-2">Activo:</label>
								<div class="col-lg-6">
									{{form_widget(form.activo)}}
								</div>
							</div>
							<div class="form-group row pb-4">
								<label class="col-lg-3 control-label text-lg-end pt-2">Fecha_Creacion:</label>
								<div class="col-lg-2">
									{{form_widget(form.FechCreacion)}}
								</div>
								<label class="col-lg-2 control-label text-lg-end pt-2">Modificacion:</label>
								<div class="col-lg-2">
									{{form_widget(form.Modificacion)}}
								</div>
							</div>
							<div class="form-group row pb-4">
								<div class="col-lg-9">
									{{form_widget(form.save)}}
								</div>
							</div>
								{{form_widget(form)}}
							{{form_end(form)}}
						</div>
				</section>
			</div>
		</div>				
{% endblock %}

{% block vendor %}
		
{% endblock %}