<!doctype html>
<html class="fixed">
	<head>

		<meta charset="UTF-8">

		<title>Gestor de Tareas</title>

		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

<link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">


		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/assets/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="/assets/vendor/font-awesome/css/all.min.css" />
		<link rel="stylesheet" href="/assets/vendor/boxicons/css/boxicons.min.css" />
		<link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
		<link rel="stylesheet" href="/assets/vendor/jquery-ui/jquery-ui.css" />
		<link rel="stylesheet" href="/assets/vendor/jquery-ui/jquery-ui.theme.css" />
		<link rel="stylesheet" href="/assets/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />
		<link rel="stylesheet" href="/assets/vendor/morris/morris.css" />
		{% block head %}{% endblock %}
		<link rel="stylesheet" href="/assets/css/theme.css" />

		<link rel="stylesheet" href="/assets/vendor/select2/css/select2.css" />
		<link rel="stylesheet" href="/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />

		<link rel="stylesheet" href="/assets/css/skins/default.css" />

		<link rel="stylesheet" href="/assets/css/custom.css">

		<script src="/assets/vendor/modernizr/modernizr.js"></script>

	</head>
	<body>
		<section class="body">

			<header class="header">
				<div class="logo-container">
					<a href="../4.3.0" class="logo">
						<img src="/img/AZPC.png" width="40" height="40" alt="Porto Admin" />
					</a>
					<div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fas fa-bars" aria-label="Toggle sidebar"></i>
					</div>


				</div>

				<div class="header-right d-flex align-items-center justify-content-between gap-3 flex-wrap">

					{% if is_granted('IS_IMPERSONATOR') %}
						{% set impersonatedName = ((app.user.nombre ??
'') ~ ' ' ~ (app.user.apellidos ?? ''))|trim %} 
						{% if impersonatedName is empty %}
							{% set impersonatedName = app.user.email %}
						{% endif %}

						<div class="impersonation-badge d-flex align-items-center gap-3">
							<span class="badge bg-warning text-dark d-flex align-items-center gap-2 py-2 px-3 mb-0">
								<i class="fas fa-user-secret"></i>
								<span>Impersonando a {{ impersonatedName }}</span>
							</span>
							<a class="btn btn-sm btn-outline-dark" href="{{ impersonation_exit_path(path('app_index'))}}">
								<i class="fas fa-user-check"></i> Volver a mi rol
							</a>
						</div>
					{% endif %}

					<form action="pages-search-results.html" class="search nav-form">
						<div class="input-group">
							<input type="text" class="form-control" name="q" id="q" placeholder="Search...">
							<button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
						</div>
					</form>

					<span class="separator"></span>

					<ul class="notifications">
						<li>
							<a href="#" class="dropdown-toggle notification-icon" data-bs-toggle="dropdown">
								<i class="bx bx-list-ol"></i>
								<span class="badge">3</span>
							</a>

							<div class="dropdown-menu notification-menu large">
								<div class="notification-title">
									<span class="float-end badge badge-default">3</span>
									Tasks
								</div>

								<div class="content">
									<ul>
										<li>
											<p class="clearfix mb-1">
												<span 
class="message float-start">Generating Sales Report</span>
												<span class="message float-end text-dark">60%</span>
											</p>
											<div class="progress progress-xs light">
												<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
											</div>
										</li>

										<li>
											<p class="clearfix mb-1">
												<span class="message float-start">Importing Contacts</span>
												<span class="message float-end text-dark">98%</span>
											</p>
											<div class="progress progress-xs light">
												<div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
											</div>
										</li>

										<li>
											<p class="clearfix mb-1">
												<span class="message float-start">Uploading something big</span>
												<span class="message float-end text-dark">33%</span>
											</p>
											<div class="progress progress-xs light mb-1">
												<div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="#" class="dropdown-toggle notification-icon" data-bs-toggle="dropdown">
								<i class="bx bx-envelope"></i>
								<span class="badge">4</span>
							</a>

							<div class="dropdown-menu notification-menu">
								<div class="notification-title">
									<span class="float-end badge badge-default">230</span>
									Messages
								</div>

								<div class="content">
									<ul>
										<li>
											<a href="#" class="clearfix">
												<figure class="image">
													<img src="img/!sample-user.jpg" alt="Joseph Doe Junior" class="rounded-circle" />
												</figure>
												<span class="title">Joseph Doe</span>
												<span class="message">Lorem ipsum dolor sit.</span>
											</a>
										</li>
										<li>
											<a href="#" class="clearfix">
												<figure class="image">
													<img src="img/!sample-user.jpg" alt="Joseph Junior" class="rounded-circle" />
												</figure>
												<span class="title">Joseph Junior</span>
												<span class="message truncate">Truncated message.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus.
Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam, nec venenatis risus.
Vestibulum blandit faucibus est et malesuada. Sed interdum cursus dui nec venenatis.
Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus tellus ultricies eu.
Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie elit, a molestie lacus porttitor id.
Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam tincidunt gravida dui, sed pharetra odio pharetra nec.
Duis consectetur venenatis pharetra. Vestibulum egestas nisi quis elementum elementum.</span>
											</a>
										</li>
										<li>
											<a href="#" class="clearfix">
												<figure class="image">
													<img src="img/!sample-user.jpg" alt="Joe Junior" class="rounded-circle" />
												</figure>
												<span class="title">Joe Junior</span>
												<span class="message">Lorem ipsum dolor sit.</span>
											</a>
										</li>
										<li>
											<a href="#" class="clearfix">
												<figure class="image">
													<img src="img/!sample-user.jpg" alt="Joseph Junior" class="rounded-circle" />
												</figure>
												<span class="title">Joseph Junior</span>
												<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia.
Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam.</span>
											</a>
										</li>
									</ul>

									<hr />

									<div class="text-end">
										<a href="#" class="view-more">View All</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="#" class="dropdown-toggle notification-icon" data-bs-toggle="dropdown">
								<i class="bx bx-bell"></i>
								<span class="badge">3</span>
							</a>

							<div class="dropdown-menu notification-menu">
								<div class="notification-title">
									<span class="float-end badge badge-default">3</span>
									Alerts
								</div>

								<div class="content">
									<ul>
										<li>
											<a href="#" class="clearfix">
												<div class="image">
													<i class="fas fa-thumbs-down bg-danger text-light"></i>
												</div>
												<span class="title">Server is Down!</span>
												<span class="message">Just now</span>
											</a>
										</li>
										<li>
											<a href="#" class="clearfix">
												<div class="image">
													<i class="bx bx-lock bg-warning text-light"></i>
												</div>
												<span class="title">User Locked</span>
												<span class="message">15 minutes ago</span>
											</a>
										</li>
										<li>
											<a href="#" class="clearfix">
												<div class="image">
													<i class="fas fa-signal bg-success text-light"></i>
												</div>
												<span class="title">Connection Restaured</span>
												<span class="message">10/10/2023</span>
											</a>
										</li>
									</ul>

									<hr />

									<div class="text-end">
										<a href="#" class="view-more">View All</a>
									</div>
								</div>
							</div>
						</li>
					</ul>

					<span class="separator"></span>

					<div id="userbox" class="userbox">
						<a href="#" data-bs-toggle="dropdown">
							{% if app.user.super == 0 %}
							<figure class="profile-picture">
								<img src="{{ app.user.imagen ?
asset('img/profile/' ~ app.user.imagen) : asset('img/profile/gestor.png') }}" alt="Foto de perfil" />
							</figure>
							<div class="profile-info" data-lock-name="{{ app.user.nombre }}" data-lock-email="{{ app.user.email}}">
								<span class="name">{{ app.user.nombre }}{{ app.user.apellidos}}</span>
								<span class="role">
									SUPER
								</span>
							</div>
							{% elseif app.user.super == 1 %}
							<figure class="profile-picture">
								<img src="{{ app.user.imagen ?
asset('img/profile/' ~ app.user.imagen) : asset('img/profile/gestor.png') }}" alt="Foto de perfil" />
							</figure>
							<div class="profile-info" data-lock-name="{{ app.user.nombre }}" data-lock-email="{{ app.user.email}}">
								<span class="name">{{ app.user.nombre }}{{ app.user.apellidos}}</span>
								<span class="role">
									ADMIN
								</span>
							</div>
							{% elseif app.user.super == 2 %}
							<figure class="profile-picture">
								<img src="{{ app.user.imagen ?
asset('img/profile/' ~ app.user.imagen) : asset('img/profile/gestor.png') }}" alt="Foto de perfil" />
							</figure>
							<div class="profile-info" data-lock-name="{{ app.user.nombre }}" data-lock-email="{{ app.user.email}}">
								<span class="name">{{ app.user.nombre }}{{ app.user.apellidos}}</span>
								<span class="role">
									USUARIO
								</span>
							</div>
							{% else %}
							PERFIL DESCONOCIDO
							{% endif %}
						

							<i class="fa custom-caret"></i>
						</a>
					

						<div class="dropdown-menu">
							<ul class="list-unstyled mb-2">
								<li class="divider"></li>
								{% if app.user.super == 0 %}
								<li>
									<a role="menuitem" tabindex="-1" href="{{ path('app_profile',{'id':app.user.id})}}"><i class="bx bx-user-circle"></i> Mi Perfil</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="{{ path('app_logout') }}"><i class="bx bx-power-off"></i> Logout</a>
								</li>
								{% elseif app.user.super == 1 %}
								<li>
									<a role="menuitem" tabindex="-1" href="{{ path('app_profile',{'id':app.user.id})}}"><i class="bx bx-user-circle"></i> Mi Perfil</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="bx bx-user-circle"></i> Mi Empresa</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="bx bx-lock"></i> Lock Screen</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="{{ path('app_logout') }}"><i class="bx bx-power-off"></i> Logout</a>
								</li>
								{% elseif app.user.super == 2 %}
								<li>
									<a role="menuitem" tabindex="-1" href="{{ path('app_profile',{'id':app.user.id})}}"><i class="bx bx-user-circle"></i> 
Mi Perfil</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="{{ path('app_logout') }}"><i class="bx bx-power-off"></i> Logout</a>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
				</header>
			<div class="inner-wrapper">
				<aside id="sidebar-left" class="sidebar-left">

				    <div class="sidebar-header">
				        <div class="sidebar-title">
				            Navigation
				        </div>
				        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
				        </div>
				  
</div>

				    <div class="nano">
				        <div class="nano-content">
				            <nav id="menu" class="nav-main" role="navigation">

				                <ul class="nav nav-main">
				                    <li>
				                        <a class="nav-link" href="/">
				     
                        <i class="fa-solid fa-house" aria-hidden="true"></i>
				                            <span>Inicio</span>
				                        </a>                      
   
				                    </li>
									{# INICIO BLOQUE SUPER (0) #}
									{% if app.user.super == 0 %}
				                    <li class="nav-parent">
				                        <a class="nav-link" href="#">
				                          
   <i class="fa-solid fa-building-columns" aria-hidden="true" ></i>
				                            <span>Empresas</span>
				                        </a>
				                        <ul class="nav nav-children">
				                
             <li>
				                                <a class="nav-link" href="{{ path('app_list', { 'entity': 'cliente' }) }}">
				                                    Lista 
				           
                       </a>
				                            </li>
				                            <li>
				                       
          <a class="nav-link" href="{{ path('app_add_cliente') }}">
				                                    Crear
				                                </a>
				                   
          </li>
				                            
				                        </ul>
				                    </li>
									<li class="nav-parent">
				                  
       <a class="nav-link" href="#">
				                            <i class="fa-solid fa-users" aria-hidden="true"></i>
				                            <span>Usuarios</span>
				                        </a>
				         
                <ul class="nav nav-children">
				                            <li>
				                                <a class="nav-link" href="{{ path('app_list', { 'entity': 'User' }) }}">
				               
                      Lista 
				                                </a>
				                            </li>
				                  
           <li>
				                                <a class="nav-link" href="{{ path('app_add_user') }}">
				                                    Crear
				                  
               </a>
				                            </li>
				                            
				                        </ul>
				      
               </li>
									<li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            <i class="fa-solid fa-face-smile" aria-hidden="true"></i>
				                            
 <span>Estados</span>
				                        </a>
				                        <ul class="nav nav-children">
				                            <li>
				                      
           <a class="nav-link" href="{{ path('app_list', { 'entity': 'Estado' }) }}">
				                                    Lista 
				                                </a>
				             
                </li>
				                            <li>
				                                <a class="nav-link" href="{{ path('app_add_estado') }}">
				                     
                Crear
				                                </a>
				                            </li>
				                         
    
				                        </ul>
				                    </li>
									<li class="nav-parent">
				                        <a class="nav-link" href="#">
				                          
   <i class="fa-solid fa-book" aria-hidden="true"></i>
				                            <span>Tareas</span>
				                        </a>
				                        <ul class="nav nav-children">
				                 
            <li>
				                                <a class="nav-link" href="{{ path('app_list', { 'entity': 'Tarea' }) }}">
				                                    Lista 
				            
                     </a>
				                            </li>
				                            <li>
				                        
         <a class="nav-link" href="{{ path('app_add_tarea') }}">
				                                    Crear
				                                </a>
				                    
         </li>
				                            
				                        </ul>
				                    </li>
									<li class="nav-parent">
				                   
      <a class="nav-link" href="#">
				                            <i class="fa-solid fa-cart-shopping" aria-hidden="true" ></i>
				                            <span>Productos</span>
				                        </a>
				         
                <ul class="nav nav-children">
				                            <li>
				                                <a class="nav-link" href="{{ path('app_list', { 'entity': 'Producto' }) }}">
				               
                      Lista 
				                                </a>
				                            </li>
				                  
           <li>
				                                <a class="nav-link" href="{{ path('app_add_producto') }}">
				                                    Crear
				                  
               </a>
				                            </li>
				                            
				                        </ul>
				      
               </li>
									<li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            <i class="fa-solid fa-circle-info" aria-hidden="true" ></i>
				                           
  <span>Detalles</span>
				                        </a>
				                        <ul class="nav nav-children">
				                            <li>
				                     
            <a class="nav-link" href="{{ path('app_list', { 'entity': 'Detalle' }) }}">
				                                    Lista 
				                                </a>
				            
                 </li>
				                            <li>
				                                <a class="nav-link" href="{{ path('app_add_detalle') }}">
				                    
                 Crear
				                                </a>
				                            </li>
				                        
     
				                        </ul>
				                    </li>
									<li class="nav-parent">
				                        <a class="nav-link" href="#">
				                         
    <i class="fa-solid fa-paperclip" aria-hidden="true" ></i>
				                            <span>Presupuestos</span>
				                        </a>
				                        <ul class="nav nav-children">
				               
              <li>
				                                <a class="nav-link" href="{{ path('app_list', { 'entity': 'Presupuesto' }) }}">
				                                    Lista 
				          
                       </a>
				                            </li>
				                            <li>
				                      
           <a class="nav-link" href="{{ path('app_add_presupuesto') }}">
				                                    Crear
				                                </a>
				                  
           </li>
				                            
				                        </ul>
				                    </li>
									{# BLOQUE COMENTADO DE MAIL PARA SUPER (0) #}
                                    {#
									<li class="nav-parent">
				             
                                        <a class="nav-link" href="#">
				                            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
				                            <span>Mail</span>
				                        </a>
				    
                                        <ul class="nav nav-children">
				                            <li>
				                                <a class="nav-link" href="{{ path('app_mail_auth_configure')}}">
				                                    correo 
				                                </a>
				                            </li>
				                  
                                        </ul>
				                    </li>
                                    #}
									{# FIN BLOQUE SUPER (0) #}
									{% elseif app.user.super == 1 %}
									{# INICIO BLOQUE ADMIN (1) #}
									<li class="nav-parent">
				            
             <a class="nav-link" href="#">
				                            <i class="fa-solid fa-users" aria-hidden="true"></i>
				                            <span>Usuarios</span>
				                        </a>
				   
                      <ul class="nav nav-children">
				                            <li>
				                                <a class="nav-link" href="{{ path('app_list', { 'entity': 'User' }) }}">
				         
                            Lista 
				                                </a>
				                            </li>
				            
                 <li>
				                                <a class="nav-link" href="{{ path('app_add_user') }}">
				                                    Crear
				            
                     </a>
				                            </li>
				                            
				                        
 </ul>
				                    </li>
									
									<li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            <i class="fa-solid fa-face-smile" aria-hidden="true"></i>
				                      
       <span>Estados</span>
				                        </a>
				                        <ul class="nav nav-children">
				                            <li>
				                
                 <a class="nav-link" href="{{ path('app_list', { 'entity': 'Estado' }) }}">
				                                    Lista 
				                                </a>
				       
                      </li>
				                            <li>
				                                <a class="nav-link" href="{{ path('app_add_estado') }}">
				               
                      Crear
				                                </a>
				                            </li>
				                   
          
				                        </ul>
				                    </li>
									<li class="nav-parent">
				                        <a class="nav-link" href="#">
				                    
         <i class="fa-solid fa-book" aria-hidden="true"></i>
				                            <span>Tareas</span>
				                        </a>
				                        <ul class="nav nav-children">
				           
                  <li>
				                                <a class="nav-link" href="{{ path('app_list', { 'entity': 'Tarea' }) }}">
				                                    Lista 
				      
                           </a>
				                            </li>
				                            <li>
				                  
               <a class="nav-link" href="{{ path('app_add_tarea') }}">
				                                    Crear
				                                </a>
				              
               </li>
				                            
				                        </ul>
				                    </li>
                                    
                                    {# BLOQUE COMENTADO - CORRECCIÓN DEL ERROR 404 (ADMIN - 1) #}
                                    {#
									<li class="nav-parent">
				             
                                        <a class="nav-link" href="#">
				                            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
				                            <span>Mail</span>
				                        </a>
				    
                                        <ul class="nav nav-children">
				                            <li>
				                                <a class="nav-link" href="{{ path('app_mail_auth_configure')}}">
				               
                                    correo 
				                                </a>
				                            </li>
				                  
                                        </ul>
				                    </li>
                                    #}
									{# FIN BLOQUE ADMIN (1) #}
									{% elseif app.user.super == 2 %}
									{# INICIO BLOQUE USUARIO (2) #}
									<li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            <i class="fa-solid fa-face-smile" aria-hidden="true"></i>
				           
                  <span>Estados</span>
				                        </a>
				                        <ul class="nav nav-children">
				                            <li>
				     
                            <a class="nav-link" href="{{ path('app_list', { 'entity': 'Estado' }) }}">
				                                    Lista 
				                            
     </a>
				                            </li>
				                            <li>
				                                <a class="nav-link" href="{{ path('app_add_estado') }}">
				    
                                 Crear
				                                </a>
				                            </li>
				        
                     
				                        </ul>
				                    </li>
									<li class="nav-parent">
				                        <a class="nav-link" href="#">
				         
                    <i class="fa-solid fa-book" aria-hidden="true"></i>
				                            <span>Tareas</span>
				                        </a>
				                        <ul class="nav 
nav-children">
				                            <li>
				                                <a class="nav-link" href="{{ path('app_list', { 'entity': 'Tarea' }) }}">
				                                
     Lista 
				                                </a>
				                            </li>
				                            <li>
				       
                          <a class="nav-link" href="{{ path('app_add_tarea') }}">
				                                    Crear
				                                </a>
				   
                          </li>
				                            
				                        </ul>
				                    </li>
									{# FIN BLOQUE USUARIO (2) #}
									{% endif %}
				 
        <script>
				            // Maintain Scroll Position
				            if (typeof localStorage !== 'undefined') {
				                if (localStorage.getItem('sidebar-left-position') !== null) {
				                    var initialPosition = localStorage.getItem('sidebar-left-position'),
				                  
       sidebarLeft = document.querySelector('#sidebar-left .nano-content');

				                    sidebarLeft.scrollTop = initialPosition;
 }
				            }
				        </script>

				    </div>
{% if app.user.super == 1 and app.user.cliente is not null and app.user.cliente.checking == true %}
						<div class="custom-alert" role="alert">
							{% set ahora = "now"|date("Y-m-d H:i:s")|date %}
							{% set diferencia = app.user.cliente.testat|date("Y-m-d H:i:s")|date('U') - ahora|date('U') %}

							{% set dias = (diferencia // 86400) %}
							{% set horas = ((diferencia % 86400) // 3600) %}

							{% if diferencia > 0 %}
								El periodo de prueba finaliza en {{ dias }} dia{% if dias != 1 %}s{% endif %} {{ horas}}h
							{% else %}
								El periodo de prueba ha 
finalizado
							{% endif %}
						</div>	
					{% endif %}

				</aside>
				<section role="main" class="content-body">
					<header class="page-header">
						<h2>{{ globals.nombre }}</h2>

						<div class="right-wrapper text-end">
							<ol class="breadcrumbs">
								<li>
									<a href="{{ path('app_index')}}">
										<i class="bx bx-home-alt"></i>
									</a>
								</li>
								{% for item in globals.breadcrumbs %}
								<li><span>{{ item }}</span></li>
								{% endfor %}
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
						</div>
					</header>

					{% include 'partials/alerts.html.twig' %}
					{% block content %}{% endblock %}
					</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close d-md-none">
							Collapse <i class="fas fa-chevron-right"></i>
						</a>

						<div class="sidebar-right-wrapper">

							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark"></div>

								<ul>
									<li>
										<time datetime="2023-04-19T00:00+00:00">04/19/2023</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>

							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" 
class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</aside>

		</section>

		<script src="/assets/vendor/jquery/jquery.js"></script>
		<script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		{# <script src="/assets/vendor/popper/umd/popper.min.js"></script> #}
		<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="/assets/vendor/common/common.js"></script>
		<script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="/assets/vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

		<script src="/assets/vendor/select2/js/select2.js"></script>

		{% block vendor %}{% endblock %}

		<script src="/assets/js/theme.js"></script>

		<script src="/assets/js/custom.js"></script>

		<script src="/assets/js/theme.init.js"></script>

		<script src="/assets/js/examples/examples.dashboard.js"></script>

	</body>
</html>